[submodule "integrations/pipecat/pipecat"]
	path = integrations/pipecat/pipecat
	url = https://github.com/inworld-ai/pipecat
[submodule "integrations/livekit/python/agents"]
	path = integrations/livekit/python/agents
	url = https://github.com/inworld-ai/livekit_agents
[submodule "integrations/livekit/js/agents-js"]
	path = integrations/livekit/js/agents-js
	url = https://github.com/inworld-ai/livekit_agents_js
